<template>
  <table class="table" show.bind="!showForm" style="margin-top: 27px;">
    <thead>
      <tr>
        <th colspan="3">
          <div class="checkbox leftMargin">
            <label>
              <input checked.bind="isCheckedCompleted" type="checkbox"> Filter out Completed Todos
            </label>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr repeat.for="todo of todos.todosArray | filterTodos:isCheckedCompleted"  >
        <td scope="row" click.delegate="editTodo(todo)">
          <a href="#"> ${todo.todo}</a>
        </td>
        <td scope="row">
          ${todo.detail}
        </td>
        <td>
          <select change.delegate="updateTodo(todo)" value.bind="todo.status" class="form-control" id="todoStatus">
            <option repeat.for="status of statuses" model.bind="status">${status}</option>
          </select>
        </td>
        <td>
          ${todo.dateDue | dateFormat }
        </td>
        <td>
          <button type="button"  class="btn btn-danger" click.trigger="deleteTodo(todo)"  >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</template>
